<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3be4bb7c-1aae-45d8-a4f9-702c281f9f9d/resourceGroups/cityLifeRG/providers/Microsoft.Web/sites/citylife4/slots/stging</ResourceId>
    <ResourceGroup>cityLifeRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://citylife4-stging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>citylife4-stging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>citylife4__stging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$citylife4__stging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cityLifeDBContainer1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cityLife4.cityLifeDBContainer1, cityLife4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="cityLifeDBContainer2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=citylife4dbserver.database.windows.net;Initial Catalog=db_cityLife4;Persist Security Info=True;User ID=atzmon.ghilai;Password=TelAviv22;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cityLifeDBContainer2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/cityLifeDB.csdl|res://*/cityLifeDB.ssdl|res://*/cityLifeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=citylife4dbserver.database.windows.net;initial catalog=db_cityLife4;persist security info=True;user id=atzmon.ghilai;password=TelAviv22;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cityLifeDBContainer1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cityLifeDBContainer2-Web.config Connection String" />
  </ItemGroup>
</Project>