
@{
    ViewBag.Title = "a05DBMigration";
    Layout = "~/Views/sharing/_adminLayout.cshtml";
}

<h2>a05DBMigration</h2>

<form method="post" action="/admin/a05DBMigration" enctype="multipart/form-data">
    <input type="file" name="dbSQL" /><br /><br />
    <input type="submit" value="OK" />

</form>



