
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/libs.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all">
    <title>@ViewBag.Title</title>
</head>
<h2>Admin panel</h2>
<form method="post">
    <input type="submit" name="recreateDB" title="recreate DB" value="Recreate DB" />
</form>
<aside class="main-sidebar">
    <div class="holder">
        <div class="helper-outer">
            <header>
                <ul class="main-menu">
                    <li class="active"><a href="/admin/uploadDB">upload DB</a></li>
                    <li><a href="unitTests">Unit Tests</a></li>
                    <li><a href="faekTime">Fake Time</a></li>
                </ul>
            </header>
        </div>
    </div>
</aside>
<div class="main-wrapper">
   mkuku
</div>
