@using cityLife.Controllers;
<!DOCTYPE html>
<html lang="en">

@{ IEnumerable<ApartmentMainPhoto> apartments = ViewBag.apartments;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/libs.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all">
    <title>Home</title>
</head>
<body>

    <main>
        <aside class="main-sidebar">
            <div class="holder">
                <div class="helper-outer">
                    <header>
                        <a href="#" class="logo">
                            <svg viewBox="0 0 103 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.4925 78.7964L31.1618 81.496C31.44 81.946 31.7183 82.2834 31.8852 82.3959C32.1078 82.5084 32.3304 82.6209 32.6642 82.6209L32.6086 82.7896H29.6594L29.715 82.6209C29.9376 82.6209 30.1046 82.5647 30.2158 82.4522C30.3271 82.3397 30.3828 82.2834 30.3828 82.171C30.3828 82.0585 30.3828 81.946 30.3271 81.8897C30.3271 81.8335 30.2158 81.6648 30.0489 81.3835L28.6578 79.1901L27.99 81.496C27.8787 81.8897 27.8231 82.1147 27.8231 82.2272C27.8231 82.3397 27.8787 82.4522 27.99 82.5084C28.1013 82.5646 28.3239 82.6209 28.7134 82.6771L28.6578 82.8459H25.9312L25.9868 82.6771C26.265 82.6771 26.432 82.6771 26.5433 82.6209C26.6545 82.5646 26.7658 82.5084 26.8215 82.3959C26.9328 82.2834 27.0441 81.946 27.1553 81.5523L28.3795 77.3341C28.4908 76.9966 28.5465 76.7716 28.5465 76.5467C28.5465 76.4342 28.4908 76.3217 28.4352 76.2092C28.3795 76.0967 28.157 76.0967 27.9344 76.0967H27.8231L27.8787 75.928H30.4384L30.3828 76.0967C30.1602 76.0967 29.9933 76.0967 29.882 76.1529C29.715 76.2092 29.6037 76.3217 29.5481 76.4342C29.4925 76.5466 29.3812 76.8279 29.2699 77.2778L28.7134 79.0776L31.1618 77.2216C31.4957 76.9966 31.7183 76.7716 31.8296 76.6591C31.8852 76.5467 31.9408 76.4904 31.9408 76.4342C31.9408 76.3779 31.8852 76.3217 31.8296 76.2654C31.7739 76.2092 31.6626 76.1529 31.5513 76.1529L31.607 75.9842H33.8328L33.7771 76.1529C33.5546 76.2092 33.332 76.2654 33.165 76.3217C32.9981 76.3779 32.8312 76.4904 32.6642 76.6029C32.6086 76.6591 32.2747 76.8841 31.6626 77.3341L29.4925 78.7964Z" fill="#08777F" />
                                <path d="M36.5591 75.478L35.1123 80.4274C35.7244 79.4713 36.2252 78.8526 36.5591 78.5714C36.893 78.2902 37.2268 78.1214 37.5607 78.1214C37.7276 78.1214 37.8389 78.1777 37.9502 78.2902C38.0615 78.4027 38.1172 78.5714 38.1172 78.7401C38.1172 78.9651 38.0615 79.2463 37.9502 79.5838L37.3381 81.721C37.2825 82.0022 37.2268 82.1147 37.2268 82.1709C37.2268 82.2272 37.2268 82.2834 37.2825 82.2834C37.3381 82.3397 37.3381 82.3397 37.3938 82.3397C37.4494 82.3397 37.5051 82.3397 37.5607 82.2834C37.7276 82.1147 37.9502 81.946 38.1172 81.6648L38.2841 81.7772C38.1728 81.946 38.0059 82.1709 37.7833 82.3959C37.5607 82.6209 37.3938 82.7896 37.2268 82.8459C37.0599 82.9021 36.9486 82.9583 36.8373 82.9583C36.726 82.9583 36.6147 82.9021 36.5034 82.8459C36.4478 82.7896 36.3921 82.6771 36.3921 82.5084C36.3921 82.3397 36.4478 82.0585 36.5591 81.6648L37.1712 79.64C37.2268 79.3588 37.2825 79.1901 37.2825 79.0213C37.2825 78.9651 37.2825 78.9088 37.2268 78.8526C37.1712 78.7964 37.1155 78.7964 37.0599 78.7964C36.9486 78.7964 36.8373 78.8526 36.726 78.9089C36.5034 79.0776 36.2252 79.3025 35.947 79.6962C35.8913 79.8087 35.6131 80.2024 35.1123 80.9898C34.9454 81.2148 34.8341 81.496 34.7784 81.7772L34.4446 82.8459H33.6655L35.3905 76.9966L35.5575 76.3779C35.5575 76.2654 35.5018 76.2092 35.4462 76.1529C35.3905 76.0967 35.2792 76.0405 35.168 76.0405C35.1123 76.0405 35.001 76.0405 34.8897 76.0967H34.7784V75.8717L36.5591 75.478Z" fill="#08777F" />
                                <path d="M44.0158 78.1778L43.0142 81.6649L42.9029 82.1148C42.9029 82.171 42.9029 82.171 42.9029 82.2273C42.9029 82.2835 42.9029 82.3398 42.9585 82.396C42.9585 82.4523 43.0142 82.4523 43.0698 82.4523C43.1255 82.4523 43.1811 82.4523 43.2368 82.396C43.3481 82.2835 43.5706 82.1148 43.7932 81.7773L43.9602 81.8898C43.7376 82.2273 43.4593 82.5085 43.2368 82.6772C43.0142 82.846 42.736 82.9584 42.569 82.9584C42.4021 82.9584 42.2908 82.9022 42.2351 82.846C42.1795 82.7897 42.1239 82.6772 42.1239 82.5085C42.1239 82.3398 42.1795 82.1148 42.2351 81.8336L42.3464 81.4399C41.9013 82.0023 41.5118 82.4523 41.1222 82.6772C40.844 82.846 40.5658 82.9022 40.3432 82.9022C40.1206 82.9022 39.898 82.7897 39.7311 82.5647C39.5642 82.3398 39.4529 82.0586 39.4529 81.7211C39.4529 81.1587 39.6198 80.5962 39.9537 79.9776C40.2876 79.3589 40.6771 78.909 41.1779 78.5153C41.5674 78.234 41.9569 78.0653 42.2908 78.0653C42.5134 78.0653 42.6803 78.1216 42.7916 78.234C42.9029 78.3465 43.0142 78.5153 43.1255 78.7965L43.2924 78.234L44.0158 78.1778ZM42.1795 78.459C41.9569 78.459 41.7343 78.5715 41.5118 78.7402C41.1779 79.0214 40.844 79.4714 40.5658 80.0338C40.2876 80.5962 40.1763 81.1024 40.1763 81.6086C40.1763 81.8336 40.2319 82.0023 40.3432 82.171C40.4545 82.2835 40.5658 82.396 40.7327 82.396C41.1222 82.396 41.5118 82.1148 41.9569 81.5524C42.5134 80.8212 42.8472 80.0901 42.8472 79.3027C42.8472 79.0214 42.7916 78.7965 42.6803 78.684C42.569 78.5152 42.4021 78.459 42.1795 78.459Z" fill="#08777F" />
                                <path d="M45.2955 78.4589L47.0762 78.1777L46.3528 80.6524C46.9649 79.64 47.4657 78.9089 47.9665 78.5152C48.2447 78.2902 48.4673 78.1777 48.6343 78.1777C48.7456 78.1777 48.8568 78.234 48.9125 78.2902C48.9681 78.3465 49.0238 78.4589 49.0238 78.5714C49.0238 78.7964 48.9681 79.0214 48.8568 79.1901C48.8012 79.3588 48.6343 79.4151 48.523 79.4151C48.4673 79.4151 48.356 79.4151 48.3004 79.3588C48.2447 79.3026 48.1891 79.2463 48.1891 79.1339C48.1891 79.0776 48.1891 79.0214 48.1335 79.0214C48.1335 79.0214 48.0778 78.9651 48.0222 78.9651C47.9665 78.9651 47.9109 78.9651 47.8552 79.0214C47.7439 79.0776 47.6326 79.1901 47.4657 79.4151C47.1875 79.7525 46.8536 80.2025 46.5197 80.7087C46.3528 80.9336 46.2415 81.2149 46.1302 81.4961C45.9633 81.8898 45.9076 82.1147 45.9076 82.171L45.7407 82.7897H44.9617L45.9076 79.5838C46.0189 79.1901 46.0746 78.9651 46.0746 78.7964C46.0746 78.7402 46.0746 78.6839 46.0189 78.6277C45.9633 78.5714 45.852 78.5714 45.7407 78.5714C45.6851 78.5714 45.5181 78.5714 45.3512 78.6277L45.2955 78.4589Z" fill="#08777F" />
                                <path d="M52.1958 75.5906L50.749 80.6524L51.3055 80.1463C51.9176 79.5838 52.3627 79.1901 52.5297 78.9652C52.5853 78.8527 52.6409 78.7964 52.6409 78.7964C52.6409 78.7402 52.6409 78.7402 52.5853 78.6839C52.5853 78.6839 52.5297 78.6277 52.474 78.6277C52.4184 78.6277 52.3071 78.6277 52.1401 78.6277H51.9732L52.0288 78.459H54.2547L54.199 78.6277C53.9208 78.6277 53.6982 78.6839 53.5313 78.7402C53.3643 78.7964 53.1418 78.9089 52.9748 79.0214C52.6409 79.3026 52.4184 79.4713 52.3071 79.5276L51.8619 79.9213C51.9176 80.1463 52.0288 80.54 52.1401 80.9337C52.3071 81.6648 52.4184 82.1148 52.5297 82.2272C52.5853 82.3397 52.6409 82.4522 52.7522 82.4522C52.8079 82.4522 52.8635 82.396 52.9748 82.3397C53.1418 82.2272 53.3643 82.0023 53.5313 81.7211L53.6982 81.8335C53.3087 82.2835 53.0305 82.621 52.8635 82.7334C52.6409 82.9022 52.474 82.9584 52.3071 82.9584C52.1401 82.9584 52.0288 82.9022 51.9732 82.7897C51.8619 82.5647 51.6393 81.7773 51.3055 80.3712L50.5821 80.9899L50.0256 82.7897H49.2466L50.9716 76.9404L51.1385 76.4342C51.1385 76.3217 51.1385 76.2655 51.1385 76.2093C51.1385 76.153 51.0829 76.0405 51.0272 75.9843C50.9716 75.928 50.8603 75.928 50.749 75.928C50.6934 75.928 50.5264 75.928 50.3595 75.9843V75.8156L52.1958 75.5906Z" fill="#08777F" />
                                <path d="M59.0398 79.8651C59.0398 80.3712 58.8728 80.8774 58.6502 81.3836C58.372 81.8898 57.9825 82.2835 57.5373 82.5647C57.0365 82.8459 56.5914 83.0147 56.1462 83.0147C55.701 83.0147 55.3115 82.8459 55.0333 82.5647C54.7551 82.2835 54.5881 81.8898 54.5881 81.3836C54.5881 80.8774 54.7551 80.3712 55.0333 79.8651C55.3115 79.3589 55.701 78.9652 56.2018 78.6839C56.7027 78.4027 57.1478 78.234 57.593 78.234C58.0381 78.234 58.4277 78.4027 58.7059 78.6839C58.9285 79.0214 59.0398 79.4151 59.0398 79.8651ZM58.2051 79.5276C58.2051 79.1901 58.1494 78.9652 57.9825 78.7964C57.8156 78.6277 57.6486 78.5152 57.3704 78.5152C56.8696 78.5152 56.4244 78.8527 55.9793 79.5838C55.5341 80.315 55.3672 80.9899 55.3672 81.7211C55.3672 82.0585 55.4228 82.2835 55.5898 82.4522C55.7567 82.621 55.9793 82.7334 56.2018 82.7334C56.7027 82.7334 57.1478 82.396 57.5373 81.6648C57.9825 80.9899 58.2051 80.2587 58.2051 79.5276Z" fill="#08777F" />
                                <path d="M60.0974 78.5715L61.5442 78.234C61.6555 78.5152 61.7111 78.7402 61.7668 79.0214C61.8781 79.4151 61.9337 79.865 61.9894 80.3712C61.9894 80.6524 62.045 81.2149 62.1006 82.0585C62.5458 81.6086 62.7684 81.2711 62.8797 81.1586C63.3248 80.54 63.6031 80.2025 63.6587 80.09C63.77 79.9213 63.8257 79.7526 63.8813 79.6401C63.9369 79.5276 63.9369 79.4151 63.9369 79.3589C63.9369 79.2464 63.8813 79.1901 63.7144 79.0777C63.5474 78.9652 63.4918 78.8527 63.4918 78.6839C63.4918 78.5715 63.5474 78.459 63.6031 78.4027C63.6587 78.3465 63.77 78.2902 63.9369 78.2902C64.1039 78.2902 64.2152 78.3465 64.3265 78.459C64.4377 78.5715 64.4934 78.7402 64.4934 78.9089C64.4934 79.0777 64.4377 79.2464 64.3821 79.4151C64.2708 79.6963 64.1039 79.9775 63.8813 80.3712C63.6587 80.7649 63.2692 81.2711 62.7127 81.8898C62.6571 81.946 62.2676 82.3397 61.5998 83.0709H61.4329C61.3773 80.8774 61.2103 79.5276 60.9321 79.0214C60.8208 78.8527 60.7095 78.7402 60.4869 78.7402C60.3756 78.7402 60.2643 78.7402 60.1531 78.7964L60.0974 78.5715Z" fill="#08777F" />
                                <path d="M12.9099 85.6018L12.3534 91.3948C12.2978 91.676 12.2978 91.8448 12.2978 91.901C12.2978 92.0135 12.2978 92.126 12.3534 92.2385C12.4091 92.351 12.5204 92.4072 12.6317 92.4634C12.7429 92.5197 12.9099 92.5197 13.1881 92.5197L13.1325 92.6884H10.4058L10.4615 92.5197H10.5728C10.7954 92.5197 10.9623 92.4634 11.1292 92.351C11.2405 92.2947 11.2962 92.1822 11.3518 92.0135C11.4075 91.901 11.4075 91.676 11.4631 91.2823L11.5744 90.3825H9.6268L8.90342 91.3386C8.73648 91.5636 8.62519 91.7323 8.62519 91.7885C8.56954 91.901 8.56954 91.9573 8.56954 92.0697C8.56954 92.1822 8.62519 92.2947 8.68083 92.351C8.79212 92.4072 8.90341 92.4634 9.126 92.4634L9.07035 92.6322H7.01147L7.06712 92.4634C7.34535 92.4634 7.51228 92.351 7.73486 92.2385C7.95744 92.126 8.23567 91.7323 8.56954 91.2261L12.6873 85.6018H12.9099ZM11.8526 87.2891L9.84939 90.045H11.5744L11.8526 87.2891Z" fill="#08777F" />
                                <path d="M16.5826 88.0764L16.2487 89.2575C16.6382 88.8076 16.9721 88.5264 17.2503 88.3576C17.5285 88.1889 17.8624 88.0764 18.1406 88.0764C18.4189 88.0764 18.6971 88.1889 18.9197 88.4701C19.1422 88.7513 19.2535 89.0325 19.2535 89.4262C19.2535 90.1574 18.9197 90.9448 18.3076 91.7322C17.6955 92.5196 16.9721 92.9133 16.193 92.9133C16.0261 92.9133 15.8592 92.9133 15.7479 92.8571C15.6366 92.8008 15.4697 92.7446 15.3027 92.6321L14.9132 93.9819C14.8576 94.2631 14.8019 94.4319 14.8019 94.4881C14.8019 94.5444 14.8019 94.6006 14.8576 94.6568C14.9132 94.7131 14.9688 94.7693 15.0245 94.7693C15.1358 94.8256 15.3027 94.8256 15.5253 94.8256L15.4697 94.9943H13.0769L13.1325 94.8256C13.4664 94.8256 13.6334 94.7693 13.7446 94.6568C13.8559 94.5444 13.9672 94.3194 14.0785 93.8694L15.414 89.37C15.4697 89.0888 15.5253 88.9201 15.5253 88.8638C15.5253 88.7513 15.5253 88.6951 15.4697 88.6388C15.414 88.5826 15.3584 88.5826 15.2471 88.5826C15.1358 88.5826 15.0245 88.5826 14.8576 88.6388V88.4139L16.5826 88.0764ZM15.414 92.1821C15.6366 92.4634 15.9148 92.5759 16.2487 92.5759C16.4156 92.5759 16.5826 92.5196 16.8051 92.4071C16.9721 92.2946 17.1947 92.1821 17.3616 91.9572C17.5285 91.7884 17.6955 91.5635 17.8624 91.2823C18.0293 91.001 18.1406 90.7198 18.2519 90.3824C18.3632 90.0449 18.4189 89.7075 18.4189 89.37C18.4189 89.0888 18.3632 88.8638 18.2519 88.7513C18.1406 88.5826 17.9737 88.5264 17.8068 88.5264C17.4172 88.5264 17.0834 88.7513 16.6938 89.145C16.36 89.595 16.0818 90.0449 15.9148 90.6073L15.414 92.1821Z" fill="#08777F" />
                                <path d="M24.7621 88.1327L23.7605 91.6198L23.6492 92.0698C23.6492 92.126 23.6492 92.126 23.6492 92.1822C23.6492 92.2385 23.6492 92.2947 23.7049 92.351C23.7049 92.4072 23.7605 92.4072 23.8162 92.4072C23.8718 92.4072 23.9275 92.4072 23.9831 92.351C24.0944 92.2385 24.317 92.0698 24.5396 91.7323L24.7065 91.8448C24.4839 92.1822 24.2057 92.4635 23.9831 92.6322C23.7605 92.8009 23.4823 92.9134 23.3154 92.9134C23.1484 92.9134 23.0371 92.8572 22.9815 92.8009C22.9258 92.7447 22.8702 92.6322 22.8702 92.4635C22.8702 92.2947 22.9258 92.0698 22.9815 91.7885L23.0928 91.3948C22.6476 91.9573 22.2581 92.4072 21.8686 92.6322C21.5904 92.8009 21.3121 92.8572 21.0895 92.8572C20.867 92.8572 20.6444 92.7447 20.4774 92.5197C20.3105 92.2947 20.1992 92.0135 20.1992 91.6761C20.1992 91.1136 20.3662 90.5512 20.7 89.9325C21.0339 89.3138 21.4234 88.8639 21.9242 88.4702C22.3137 88.189 22.7033 88.0203 23.0371 88.0203C23.2597 88.0203 23.4266 88.0765 23.5379 88.189C23.6492 88.3015 23.7605 88.4702 23.8718 88.7514L24.0387 88.189L24.7621 88.1327ZM22.9815 88.414C22.7589 88.414 22.5363 88.5264 22.3137 88.6952C21.9799 88.9764 21.646 89.4263 21.3678 89.9888C21.0895 90.5512 20.9783 91.0574 20.9783 91.5636C20.9783 91.7885 21.0339 91.9573 21.1452 92.126C21.2565 92.2947 21.3678 92.351 21.5347 92.351C21.9242 92.351 22.3137 92.0698 22.7589 91.5073C23.3154 90.7762 23.6492 90.045 23.6492 89.2576C23.6492 88.9764 23.5936 88.7514 23.4823 88.6389C23.371 88.5265 23.1484 88.414 22.9815 88.414Z" fill="#08777F" />
                                <path d="M26.0424 88.4139L27.823 88.1327L27.0996 90.6074C27.7117 89.595 28.2125 88.8639 28.7133 88.4702C28.9916 88.2452 29.2142 88.1327 29.3811 88.1327C29.4924 88.1327 29.6037 88.1889 29.6593 88.2452C29.715 88.3014 29.7706 88.4139 29.7706 88.5264C29.7706 88.7514 29.715 88.9763 29.6037 89.1451C29.548 89.3138 29.3811 89.37 29.2698 89.37C29.2141 89.37 29.1029 89.37 29.0472 89.3138C28.9916 89.2576 28.9359 89.2013 28.9359 89.0888C28.9359 89.0326 28.9359 88.9763 28.8803 88.9763C28.8803 88.9763 28.8246 88.9201 28.769 88.9201C28.7133 88.9201 28.6577 88.9201 28.6021 88.9763C28.4908 89.0326 28.3795 89.1451 28.2125 89.37C27.9343 89.7075 27.6004 90.1574 27.2666 90.6636C27.0996 90.8886 26.9883 91.1698 26.877 91.451C26.7101 91.8447 26.6545 92.0697 26.6545 92.1259L26.4875 92.7446H25.7085L26.6545 89.5388C26.7658 89.1451 26.8214 88.9201 26.8214 88.7514C26.8214 88.6951 26.8214 88.6389 26.7658 88.5826C26.7101 88.5264 26.5988 88.5264 26.4875 88.5264C26.4319 88.5264 26.2649 88.5264 26.098 88.5826L26.0424 88.4139Z" fill="#08777F" />
                                <path d="M32.7197 86.8954L32.2745 88.3014H33.0535L32.9422 88.6389H32.1632L31.2729 91.676C31.1616 92.0135 31.1059 92.2384 31.1059 92.2947C31.1059 92.3509 31.1059 92.4072 31.1616 92.4072C31.1616 92.4634 31.2172 92.4634 31.2729 92.4634C31.3842 92.4634 31.4955 92.4072 31.6067 92.2947C31.6624 92.2384 31.885 92.0135 32.1632 91.676L32.3301 91.7885C31.9963 92.2384 31.718 92.5759 31.4398 92.7446C31.2729 92.8571 31.0503 92.9134 30.8834 92.9134C30.7164 92.9134 30.6051 92.8571 30.4938 92.7446C30.3825 92.6321 30.3269 92.5197 30.3269 92.4072C30.3269 92.2384 30.3825 91.9572 30.4938 91.5635L31.3842 88.5826H30.6051L30.6608 88.3577C31.0503 88.2452 31.3285 88.1327 31.6067 87.9077C31.8293 87.6828 32.1076 87.3453 32.4414 86.8391L32.7197 86.8954Z" fill="#08777F" />
                                <path d="M35.5579 88.189L34.8902 90.4949C35.1684 89.9325 35.4466 89.5388 35.6692 89.2576C36.0031 88.8076 36.2813 88.5264 36.6152 88.3577C36.7821 88.2452 37.0047 88.189 37.1716 88.189C37.3386 88.189 37.5055 88.2452 37.6168 88.3577C37.7281 88.4702 37.7837 88.5827 37.7837 88.8076C37.7837 88.9764 37.7281 89.2013 37.6724 89.4826L37.2829 90.7761C37.8394 89.7638 38.3402 89.0326 38.841 88.5827C39.1192 88.3577 39.3974 88.2452 39.6757 88.2452C39.8426 88.2452 39.9539 88.3014 40.0652 88.4139C40.1765 88.5264 40.2321 88.6952 40.2321 88.9201C40.2321 89.1451 40.1765 89.3138 40.1208 89.5388L39.5644 91.5073C39.4531 91.9572 39.3974 92.1822 39.3974 92.2385C39.3974 92.2947 39.3974 92.3509 39.4531 92.3509L39.5087 92.4072C39.5644 92.4072 39.62 92.3509 39.6757 92.2947C39.8426 92.126 40.0652 91.9572 40.2321 91.676L40.3991 91.7885C40.2878 91.901 40.1765 92.126 39.9539 92.3509C39.7313 92.5759 39.5644 92.7446 39.3974 92.8571C39.2305 92.9696 39.1192 92.9696 38.9523 92.9696C38.841 92.9696 38.7297 92.9134 38.6741 92.8571C38.6184 92.8009 38.5628 92.6884 38.5628 92.5759C38.5628 92.4072 38.6184 92.0697 38.7853 91.5635L39.2305 89.9325C39.3418 89.5388 39.3974 89.3701 39.3974 89.3138C39.3974 89.2576 39.3974 89.2013 39.3974 89.1451C39.3974 89.0326 39.3974 88.9764 39.3418 88.9201C39.2862 88.8639 39.2305 88.8639 39.2305 88.8639C39.0636 88.8639 38.9523 88.9201 38.7853 89.0888C38.3402 89.5388 37.895 90.1012 37.4499 90.8886C37.1716 91.3948 36.9491 92.0697 36.6708 92.8571H35.8918L36.7821 89.7638C36.8934 89.4263 36.9491 89.2013 36.9491 89.0888C36.9491 88.9764 36.9491 88.9201 36.8934 88.8639C36.8378 88.8076 36.8378 88.8076 36.7821 88.8076C36.6708 88.8076 36.5595 88.8639 36.4482 88.9201C36.2257 89.0326 36.0031 89.3138 35.6692 89.7638C35.3353 90.2137 35.1128 90.6074 34.9458 91.0011C34.8345 91.1698 34.6676 91.7885 34.3337 92.8009H33.5547L34.5007 89.4826L34.6119 89.0326C34.6119 88.9764 34.6676 88.9201 34.6676 88.8639C34.6676 88.8076 34.6119 88.6952 34.5563 88.6389C34.5007 88.5827 34.3894 88.5264 34.2781 88.5264C34.2224 88.5264 34.1111 88.5264 33.8886 88.5827L33.8329 88.4139L35.5579 88.189Z" fill="#08777F" />
                                <path d="M42.4577 90.9449C42.4577 91.1136 42.4021 91.2823 42.4021 91.3948C42.4021 91.676 42.5134 91.9572 42.7359 92.1822C42.9585 92.4072 43.1811 92.5197 43.515 92.5197C43.7376 92.5197 44.0158 92.4634 44.2384 92.3509C44.4609 92.2385 44.7948 92.0135 45.24 91.676L45.3513 91.8448C44.5722 92.6322 43.7932 93.0259 43.0698 93.0259C42.569 93.0259 42.1795 92.8571 41.9569 92.5197C41.7343 92.1822 41.5674 91.8448 41.5674 91.4511C41.5674 90.9449 41.7343 90.4387 42.0682 89.8763C42.4021 89.3701 42.7916 88.9201 43.2367 88.6389C43.6819 88.3577 44.1827 88.189 44.6835 88.189C45.0174 88.189 45.2956 88.2452 45.4626 88.4139C45.6295 88.5827 45.7408 88.7514 45.7408 88.9201C45.7408 89.2013 45.6295 89.4826 45.4069 89.7075C45.1287 90.045 44.6835 90.3262 44.1271 90.4949C43.6819 90.7761 43.1255 90.8886 42.4577 90.9449ZM42.4577 90.7199C42.9585 90.6637 43.348 90.5512 43.6819 90.4387C44.1271 90.27 44.4053 90.045 44.6279 89.7638C44.8505 89.4826 44.9618 89.2576 44.9618 89.0326C44.9618 88.8639 44.9061 88.7514 44.8505 88.6951C44.7948 88.6389 44.6279 88.5827 44.4609 88.5827C44.1271 88.5827 43.7376 88.7514 43.348 89.1451C42.9585 89.4263 42.6803 89.9887 42.4577 90.7199Z" fill="#08777F" />
                                <path d="M48.523 88.2451L47.8553 90.5511C48.4674 89.595 48.9682 88.9763 49.302 88.6951C49.6359 88.4138 49.9698 88.2451 50.3037 88.2451C50.4706 88.2451 50.6375 88.3014 50.7488 88.4138C50.8601 88.5263 50.9158 88.6951 50.9158 88.8638C50.9158 89.0888 50.8601 89.37 50.7488 89.7074L50.1367 91.8447C50.0811 92.0696 50.0254 92.2384 50.0254 92.2946C50.0254 92.3509 50.0254 92.4071 50.0811 92.4071C50.0811 92.4633 50.1367 92.4633 50.1924 92.4633C50.248 92.4633 50.3037 92.4633 50.3593 92.4071C50.5262 92.2384 50.7488 92.0696 50.9714 91.7322L51.1383 91.8447C50.8045 92.2946 50.5262 92.6321 50.248 92.8008C50.0254 92.9133 49.8585 93.0258 49.6916 93.0258C49.5803 93.0258 49.469 92.9695 49.4133 92.9133C49.3577 92.857 49.302 92.7446 49.302 92.5758C49.302 92.4071 49.3577 92.1259 49.469 91.7322L50.0811 89.6512C50.1367 89.37 50.1924 89.2013 50.1924 89.0325C50.1924 88.9763 50.1924 88.92 50.1367 88.8638C50.0811 88.8076 50.0254 88.8075 49.9698 88.8075C49.8585 88.8075 49.7472 88.8638 49.6359 88.92C49.3577 89.0888 49.1351 89.3137 48.8569 89.6512C48.5787 89.9886 48.3004 90.4386 47.9666 91.001C47.7996 91.2822 47.6883 91.6197 47.577 91.9572L47.2988 92.8008H46.5198L47.4657 89.595C47.577 89.2013 47.6327 88.9763 47.6327 88.92C47.6327 88.8638 47.577 88.7513 47.5214 88.6951C47.4657 88.6388 47.4101 88.5826 47.2988 88.5826C47.2432 88.5826 47.1875 88.5826 47.0762 88.5826L46.9093 88.6388L46.8536 88.4701L48.523 88.2451Z" fill="#08777F" />
                                <path d="M54.5888 87.0079L54.1993 88.414H54.9783L54.867 88.7514H54.088L53.1977 91.7885C53.0864 92.126 53.0307 92.351 53.0307 92.4072C53.0307 92.4635 53.0307 92.5197 53.0864 92.5197C53.0864 92.576 53.142 92.576 53.1977 92.576C53.309 92.576 53.4203 92.5197 53.5315 92.4072C53.5872 92.351 53.8098 92.126 54.088 91.7885L54.2549 91.901C53.9211 92.351 53.6428 92.6884 53.3646 92.8572C53.1977 92.9697 52.9751 93.0259 52.8082 93.0259C52.6412 93.0259 52.5299 92.9697 52.4186 92.8572C52.3074 92.7447 52.2517 92.6322 52.2517 92.5197C52.2517 92.351 52.3074 92.0698 52.4186 91.6761L53.309 88.6952H52.5299L52.5856 88.4702C52.9751 88.3577 53.2533 88.2452 53.5315 88.0203C53.7541 87.7953 54.0324 87.4578 54.3662 86.9517L54.5888 87.0079Z" fill="#08777F" />
                                <path d="M58.9286 88.3014L58.5947 89.8763H58.4278C58.4278 89.4263 58.3165 89.0889 58.1496 88.8639C57.9826 88.6389 57.7601 88.5264 57.4818 88.5264C57.2593 88.5264 57.0923 88.5827 56.981 88.6951C56.8697 88.8076 56.8141 88.9764 56.8141 89.0888C56.8141 89.2013 56.8141 89.3138 56.8697 89.4263C56.9254 89.5388 57.0367 89.6513 57.2036 89.8763C57.6488 90.3824 57.927 90.7199 58.0383 91.0011C58.1496 91.2261 58.2052 91.5073 58.2052 91.676C58.2052 92.0135 58.0383 92.3509 57.7601 92.6322C57.4818 92.9134 57.0923 93.0259 56.6472 93.0259C56.4246 93.0259 56.1464 92.9696 55.8125 92.8571C55.7012 92.8009 55.5899 92.8009 55.5343 92.8009C55.3673 92.8009 55.256 92.8571 55.2004 93.0259H55.0334L55.3673 91.3386H55.5343C55.5343 91.8448 55.6455 92.2385 55.8681 92.4634C56.0907 92.6884 56.3133 92.8009 56.6472 92.8009C56.9254 92.8009 57.0923 92.7446 57.2593 92.5759C57.4262 92.4072 57.4818 92.2385 57.4818 92.0135C57.4818 91.901 57.4818 91.7323 57.4262 91.6198C57.3149 91.3948 57.148 91.1136 56.8141 90.7761C56.5359 90.4387 56.3133 90.1575 56.2576 89.9325C56.1464 89.7638 56.1464 89.595 56.1464 89.3701C56.1464 89.0326 56.2576 88.7514 56.5359 88.5264C56.8141 88.3014 57.0923 88.189 57.4818 88.189C57.5931 88.189 57.7044 88.189 57.7601 88.189C57.8157 88.189 57.927 88.2452 58.0939 88.3014C58.2609 88.3577 58.3722 88.4139 58.4278 88.4139C58.5947 88.4139 58.706 88.3577 58.8173 88.189L58.9286 88.3014Z" fill="#08777F" />
                                <path d="M47.3545 27.6153L47.4102 21.7098L53.3086 21.766C55.1449 16.5916 58.2054 9.39255 58.2054 9.39255L49.2465 9.3363L48.9682 9.61752C48.9682 9.61752 51.194 9.44879 50.7489 11.6985C50.3037 13.9482 46.6311 21.8222 46.4642 24.2969C46.4085 25.7593 46.6311 26.9404 47.3545 27.6153Z" fill="#00B0D1" />
                                <path d="M57.5375 0C55.5343 0 53.7537 1.34983 53.7537 3.59955C53.7537 5.84927 54.8109 6.4117 56.369 6.4117C57.9271 6.4117 59.7634 5.34308 60.0416 3.03712C60.3198 0.731159 58.6505 0 57.5375 0Z" fill="#00B0D1" />
                                <path d="M75.5113 46.1755C77.0694 46.1755 78.9057 45.1069 79.1839 42.8009C79.4621 40.4387 77.7928 39.7638 76.6799 39.7638C74.6766 39.7638 72.896 41.1136 72.896 43.3633C72.896 45.6131 73.9533 46.1755 75.5113 46.1755Z" fill="#03798A" />
                                <path d="M90.3127 49.6626L90.7023 49.2126H87.141C88.2539 46.288 89.0329 44.3195 89.3111 43.7008C90.7023 40.3262 91.5926 39.4263 93.095 39.4263C94.5418 39.4263 94.7087 40.7762 94.7087 40.7762C93.095 40.6637 91.9265 41.0011 90.9805 42.1822C89.9789 43.3634 90.424 46.5692 93.2063 46.063C95.9886 45.5568 96.1555 42.6884 95.9886 41.7323C95.766 40.7762 94.8757 38.4702 92.0377 38.4702C89.1998 38.4702 85.0264 39.4263 82.578 45.3881C82.2998 46.1193 81.7434 47.4128 81.0756 49.1564H78.4603V49.6063H80.9087C79.7958 52.4185 78.2934 56.3555 76.5684 60.6862C75.7337 61.9235 72.4506 66.7042 71.282 66.7042C69.9466 66.7042 77.403 49.1564 77.403 49.1564L68.4441 49.1001L68.1659 49.3814C68.1659 49.3814 70.3917 49.2126 69.9466 51.4623C69.5014 53.7121 65.8288 61.5861 65.6619 64.0608C65.4949 66.5355 66.274 68.1103 68.778 68.1103C71.1708 68.1103 72.5062 67.0979 75.9006 62.261C69.6127 78.459 61.3215 100 61.3215 100H61.7667C63.8812 94.6569 69.557 95.0506 69.557 95.0506C69.557 95.0506 81.6877 63.2734 86.9184 49.6063L90.3127 49.6626Z" fill="#03798A" />
                                <path d="M102.777 58.7739C102.777 58.7739 97.8806 66.7041 93.8742 66.7041C89.9233 66.7041 92.8726 59.2238 92.8726 59.2238C92.8726 59.2238 97.2129 58.9988 100.273 56.3554C103.334 53.712 103 50.5062 101.219 49.4938C99.4387 48.4814 93.4847 47.6378 88.3096 54.6681C83.1346 61.6985 86.2508 68.2227 91.2588 68.2227C96.2669 68.2227 101.052 62.7109 103 58.7739H102.777ZM98.0476 49.2688C99.9395 49.0438 97.5468 57.3678 93.0951 58.7176C93.0951 58.7176 96.1 49.4938 98.0476 49.2688Z" fill="#03798A" />
                                <path d="M66.6636 49.0439C66.6636 49.0439 63.2136 57.9865 56.7587 62.9921C50.3039 67.9977 44.7394 68.7289 41.2337 67.8853C37.7837 66.9854 39.3974 61.1361 41.0668 57.2553C42.7361 53.3746 50.0257 33.6895 52.474 28.1777C54.5329 23.4533 57.037 21.8223 62.4902 21.4286V20.5287L48.4676 20.4724V20.4162L32.9982 20.3037C28.2683 20.3037 19.3094 24.3532 19.1982 32.171C19.1425 36.6142 21.6465 39.2013 24.0393 40.1575C24.874 40.4949 25.7087 40.6637 26.5433 40.6637C28.4353 40.6637 30.2159 39.8763 31.6071 38.3577L30.995 37.7953C29.7151 39.2013 28.0458 39.8763 26.3208 39.82L26.4877 39.4263V37.6265C26.4877 37.6265 23.5385 37.7953 23.928 38.3577C24.3175 38.9764 24.3732 39.4263 23.4828 38.9764C21.6465 37.9078 20.0328 35.658 20.0885 32.2272C20.1998 24.9719 28.5466 21.2036 32.9982 21.2036H33.9998V21.2598C33.9998 21.2598 34.1111 21.2598 34.278 21.2598H36.7821C37.895 21.3723 39.1748 21.6535 39.9539 22.3285C41.7902 23.847 41.7345 26.4904 39.8982 30.8211C38.1176 35.0956 30.1046 56.018 28.157 60.5737C26.2095 65.0731 24.6514 68.2227 16.0264 68.1665V68.6727L59.6523 68.8976L67.387 49.1001L66.6636 49.0439Z" fill="#03798A" />
                                <path d="M80.3524 9.50511L80.2411 9.84257C83.1903 9.84257 84.2475 11.6986 83.1346 14.342C82.0217 16.9854 78.7943 21.5973 78.7943 21.5973L77.737 9.67384H73.0628H68.2773C69.3346 6.91794 70.1136 4.89319 70.1136 4.89319H69.6128C69.6128 4.89319 68.166 9.11141 62.3233 8.54898C62.3233 8.54898 62.1564 8.94268 61.9338 9.6176H60.8209V10.0675H61.7668C60.7652 12.6547 58.762 17.8853 57.983 19.9101C56.87 22.6097 54.5329 28.6277 59.4854 28.684C64.4378 28.7964 68.6669 21.9348 70.3362 19.2351L70.0023 19.0664C70.0023 19.0664 67.9991 22.5535 65.4951 25.0844C62.991 27.6153 61.7668 27.3904 61.9894 26.3218C62.1564 25.5906 65.7733 16.198 68.1104 10.0675H70.0023C70.7814 10.0675 71.6161 10.405 71.8943 12.0923C72.1725 13.7796 74.287 28.9089 74.287 28.9089C74.287 28.9089 73.3967 30.1463 70.837 34.6457C67.6096 40.27 63.9926 46.1755 60.1531 46.1193C58.2055 46.1193 57.9273 44.9382 57.9273 44.9382C60.6539 45.2194 61.8225 43.6446 62.1564 42.5197C62.4902 41.3386 62.4346 39.2576 60.2088 39.2014C57.9273 39.2014 56.5362 41.2261 56.5362 42.9134C56.5362 44.6007 57.2039 46.6817 60.0418 46.6817C62.8797 46.6817 65.3838 44.0383 67.5539 40.8887C69.7798 37.6266 80.6306 19.3476 83.5242 14.7357C86.4177 10.1238 88.8661 10.0675 88.8661 10.0675L89.2 9.50511H80.3524Z" fill="#00B0D1" />
                                <path d="M40.9555 10.7424C37.6724 10.7424 35.1127 8.43644 28.7135 8.3802C10.0723 8.26771 0.0561728 29.9213 0.000527463 39.9325C-0.0551179 50.6749 4.28522 58.9989 16.249 59.0551C16.4159 59.0551 16.5272 59.0551 16.6385 59.0551H16.6941C16.8611 59.0551 17.3062 59.0551 17.5288 59.0551C21.5909 58.8301 26.6546 55.2306 29.7708 50.225C32.8869 45.2193 33.8885 39.6513 32.6087 34.7019C32.3861 34.027 32.1079 33.2958 31.7184 32.6209L31.3845 32.9021C31.7184 33.6895 31.9409 34.5332 32.1079 35.3768L31.2176 34.8706L29.9934 35.9955C29.9934 35.9955 30.4942 38.9201 31.4958 38.3015C32.2748 37.7953 32.3861 38.5264 32.3861 38.8639C32.3305 42.5197 31.1063 46.3442 28.9917 49.8313C26.0982 54.4994 21.424 57.4803 17.7514 57.7053C15.9707 57.8178 14.5796 57.3116 13.4667 56.243C13.4111 56.1867 13.3554 56.0742 13.2441 56.018C10.4618 52.081 10.3506 42.6322 15.1917 30.7087C21.6466 14.8481 27.7119 9.67379 32.72 9.73003C37.7281 9.73003 40.1764 15.4668 40.1764 20.0787C40.1764 24.6907 38.7297 28.0652 38.7297 28.0652H39.4531L46.687 9.33633C45.2958 9.22384 44.1829 10.7986 40.9555 10.7424Z" fill="#00B0D1" />
                                <path d="M27.7677 40.2699C30.4413 40.2699 32.6088 38.0792 32.6088 35.3768C32.6088 32.6744 30.4413 30.4836 27.7677 30.4836C25.094 30.4836 22.9265 32.6744 22.9265 35.3768C22.9265 38.0792 25.094 40.2699 27.7677 40.2699Z" fill="#03798A" />
                            </svg>
                        </a>
                        <ul class="main-menu">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Nice Apartments</a></li>
                            <li><a href="#">Our important rules</a></li>
                        </ul>
                    </header>

                    <div class="form">
                        <h2>Booking</h2>
                        <form method="post" action="~/home/index">
                            <div class="field-box datepicker-box">
                                <input type="text" id="fromDate" name="fromDate">
                                <label for="fromDate">
                                    <span class="field-name">Check in date</span>
                                    <span class="calendar-ico"></span>
                                </label>
                                <span class="field-error"></span>
                            </div>
                            <div class="field-box datepicker-box">
                                <input type="text" id="toDate" name="toDate">
                                <label for="toDate">
                                    <span class="field-name">Check out date</span>
                                    <span class="calendar-ico"></span>
                                </label>
                                <span class="field-error"></span>
                            </div>
                            <div class="form-box-wrap">
                                <div class="field-box select-box">
                                    <select name="adultsCount">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    <label>
                                        <span class="field-name">Guests</span>
                                    </label>
                                </div>
                                <div class="field-box select-box">
                                    <select name="childrenCount">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    <label>
                                        <span class="field-name">Child</span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn" type="submit">check availability</button>
                        </form>

                    </div>
                </div>

                <div class="contact-info">
                    <p class="note">Contact 24/7 with Viber or Whatsapp</p>
                    <div class="phone">
                        <a href="#" class="number dropdown-toggle">38(096)123 45 67</a>
                        <ul class="dropdown">
                            <li>
                                <h4 class="thin">Booking</h4>
                                <a href="tel:38(096)123 45 67" class="number">38(096)123 45 67</a>
                            </li>
                            <li>
                                <h4 class="thin">House keeping</h4>
                                <a href="tel:38(096)123 45 67" class="number">38(096)676 67 67</a>
                            </li>
                        </ul>
                    </div>
                    <a href="mailto:ksenia.korovina@gmail.com" class="mail">ksenia.korovina@gmail.com</a>
                </div>

                <div class="lang-wrap">
                    <div class="language">
                        <div class="dropdown-toggle">
                            <span class="name">EN</span>
                        </div>
                        <ul class="dropdown">
                            <li>
                                <a href="#">
                                    <span class="name">EN</span>
                                    <span class="dscr">english</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="name">RU</span>
                                    <span class="dscr">русский</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="name">UA</span>
                                    <span class="dscr">украiнська</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="currency">
                        <div class="dropdown-toggle">
                            <span class="name">USD</span>
                        </div>
                        <ul class="dropdown">
                            <li>
                                <a href="#">
                                    <span class="name">USD</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="name">EUR</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="name">UAH</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div class="mobile-menu-toggle"><span></span></div>

        <div class="main-wrapper">
            <div class="slider main-slider">

                @foreach (var apartmentPhoto in apartments)
                {
                    <div>
                        <div class="slide">
                            <div class="image" style="background-image: url('@apartmentPhoto.photo.filePath');"></div>
                            <div class="slide-dscr">
                                <div class="col">
                                    <h4 class="light">Apartment @apartmentPhoto.apart.number</h4>
                                    <h2 class="light">@apartmentPhoto.apart.addressKey</h2>
                                    <div class="btn">Book now</div>
                                </div>
                                <div class="col">
                                    <h4 class="light">Price</h4>
                                    <div class="price light">$150/night</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="main-description-wrap">
                <div class="proverb">
                    <p>To know the road ahead, ask those coming back.</p>
                    <p class="align-right">— Chinese Proverb</p>
                </div>
                <div class="description main-description">
                    <p>Our apartment house is in a sunny and quiet location with good connections to hiking paths and cross country skiing runs. There are 10 comfortable apartments from 25m<sup>2</sup> to 45m<sup>2</sup></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt ea et iusto, odit rerum soluta tempore vel! Ab accusantium error eum fuga magnam modi nam quasi ratione repellat veritatis?</p>
                </div>
            </div>
        </div>

        <footer class="visible-on-mobile">
            <div class="contact-info">
                <p class="note">Contact 24/7 with Viber or Whatsapp</p>
                <div class="phone">
                    <a href="#" class="number dropdown-toggle">38(096)123 45 67</a>
                    <ul class="dropdown">
                        <li>
                            <h4 class="thin">Booking</h4>
                            <a href="tel:38(096)123 45 67" class="number">38(096)123 45 67</a>
                        </li>
                        <li>
                            <h4 class="thin">House keeping</h4>
                            <a href="tel:38(096)123 45 67" class="number">38(096)676 67 67</a>
                        </li>
                    </ul>
                </div>
                <a href="mailto:ksenia.korovina@gmail.com" class="mail">ksenia.korovina@gmail.com</a>
            </div>
        </footer>

        <div class="popup">
            <div class="popup-centered">
                <div class="popup-box">
                    <a href="#" class="close-btn"></a>
                    <div class="title">
                        <h2>Congratulations!</h2>
                    </div>
                    <div class="content">
                        <p class="stylized">
                            Your booking has been successfully accepted.
                            Email has been sent to the following address:
                        </p>
                        <a href="#mailto:oliver.williams@gmail.com" class="link">oliver.williams@gmail.com</a>
                        <ul class="booking-details">
                            <li>
                                <span>
                                    Check in date
                                </span>
                                <span>
                                    09-09-2018
                                </span>
                            </li>
                            <li>
                                <span>Check out date</span>
                                <span>11-09-2018</span>
                            </li>
                            <li>
                                <span>Check in time</span>
                                <span>
                                    12:00
                                </span>
                            </li>
                            <li>
                                <span>Check out time</span>
                                <span>
                                    14:00
                                </span>
                            </li>
                            <li>
                                <span>
                                    Guests
                                </span>
                                <span>
                                    2

                                </span>
                            </li>
                            <li>
                                <span>Children</span>
                                <span>-</span>
                            </li>
                            <li>
                                <span>
                                    Price
                                </span>
                                <span>$600</span>
                            </li>
                            <li>
                                <span>Booking number</span>
                                <span> 512687</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="btn">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/libs.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>