@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/libs.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all">
    <style>
        table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            table td, table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            table tr:hover {
                background-color: #ddd;
            }

            table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        <h2>Admin panel</h2>
        <aside class="main-sidebar">
            <div class="holder">
                <div class="helper-outer">
                    <header>
                        <ul class="main-menu">
                            <li class="active"><a href="/admin/uploadDB">upload DB</a></li>
                            <li><a href="/admin/unitTests">Unit Tests</a></li>
                            <li><a href="/admin/fakeTime">Fake Time</a></li>
                            <li><a href="/admin/translations">Translations</a></li>
                        </ul>
                    </header>
                </div>
            </div>
        </aside>
        <div class="main-wrapper">
            @RenderBody()
        </div>
    </main>
    <script src="/js/libs.js"></script>
    <script src="/js/scripts.js"></script>
</body>
