
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/libs.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all">
    <title>_staffLayout</title>
</head>
<body>
    <div>
        Dashboard
    </div>
    <div>
        @RenderBody()
    </div>
 
</body>
</html>
