@using cityLife4;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/libs.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all">
    <title>_staffLayout</title>
</head>
<body>
    <div>
        Dashboard
    </div>
    <div>
        @RenderBody()
    </div>
    <script>
        @{
            var yearNow = FakeDateTime.Now.Year;
            var monthNow = FakeDateTime.Now.Month-1;
            var dayNow = FakeDateTime.Now.Day;
        }
        var timeNow = new Date(@yearNow,@monthNow,@dayNow);


    </script>
    <script src="/js/libs.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
