
@{
    ViewBag.Title = "s20dahsboard";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
}
<style>

        table th {
            padding-top: 2px;
            padding-bottom: 2px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
        table thead tr {
            display: block;
        }
        table td, table th {
            border: 1px solid #ddd;
            padding: 2px;
            width:60px;
        }
</style>
<table table  cellspacing="0" cellpadding="0" style="padding-left:4px;">
    <thead>
        <tr>
            <th width="42"><div style="overflow:hidden; width:42px;">Date</div></th>
            <th width="65"><div style="overflow:hidden; width:60px;">42</div></th>
            <th width="65"><div style="overflow:hidden; width:60px;">24</div></th>
            <th width="65"><div style="overflow:hidden; width:60px;">24</div></th>
            <th width="65"><div style="overflow:hidden; width:60px;">24</div></th>
            <th width="65"><div style="overflow:hidden; width:60px;">24</div></th>
        </tr>
    </thead>
    <tbody style="overflow:auto;display:block;height:400px;">
        <tr>
            <td width="60">sun<br /> 26/9</td>
            <td width="60" rowspan="3" style="background-color:aqua"><div style="overflow:hidden; width:60px;">Johnson</div></td>
            <td width="60" rowspan="2"><div style="overflow:hidden; width:60px;">Smith</div></td>
            <td width="60"></td>
            <td width="60"></td>
            <td width="60"></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">mon<br />27/9</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>tue<br />28/9</td>
            <td></td>
            <td></td>
            <td>mcclean</td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">wed<br />29/9</td>
            <td></td>
            <td></td>
            <td><div style="overflow:hidden; width:60px;">McCready</div></td>
            <td></td>
            <td rowspan="2" style="background-color:aquamarine"><div style="overflow:hidden; width:60px;">Atzmonsonsonson</div></td>
        </tr>
        <tr>
            <td>thu<br />30/9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">fri<br />1/10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td width="60">sun<br /> 26/9</td>
            <td width="60" rowspan="3" style="background-color:aqua"><div style="overflow:hidden; width:60px;">John Johnson</div></td>
            <td width="60" rowspan="2"><div style="overflow:hidden; width:60px;">Jerry Smith</div></td>
            <td width="60"></td>
            <td width="60"></td>
            <td width="60"></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">mon<br />27/9</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>tue<br />28/9</td>
            <td></td>
            <td></td>
            <td>mcclean</td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">wed<br />29/9</td>
            <td></td>
            <td></td>
            <td><div style="overflow:hidden; width:60px;">Nathan McCready</div></td>
            <td></td>
            <td rowspan="2" style="background-color:aquamarine"><div style="overflow:hidden; width:60px;">Atzmonsonsonson Ghilai</div></td>
        </tr>
        <tr>
            <td>thu<br />29/9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">fri<br />30/9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td width="60">sun<br /> 26/9</td>
            <td width="60" rowspan="3" style="background-color:aqua"><div style="overflow:hidden; width:60px;">Johnson</div></td>
            <td width="60" rowspan="2"><div style="overflow:hidden; width:60px;">Smith</div></td>
            <td width="60"></td>
            <td width="60"></td>
            <td width="60"></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">mon<br />27/9</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>tue<br />28/9</td>
            <td></td>
            <td></td>
            <td>mcclean</td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">wed<br />29/9</td>
            <td></td>
            <td></td>
            <td><div style="overflow:hidden; width:60px;">McCready</div></td>
            <td></td>
            <td rowspan="2" style="background-color:aquamarine"><div style="overflow:hidden; width:60px;">Atzmonsonsonson</div></td>
        </tr>
        <tr>
            <td>thu<br />29/9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2">fri<br />30/9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div>
    <span style="float:left">Checkin Date</span>
    <span style="float:right">29/5/2018 </span>
    <br />
    <span style="float:left">Checkout Date</span>
    <span style="float:right">30/5/2018 </span>
    <br />
    <span style="float:left">Checkin Date</span>
    <span style="float:right">29/5/2018 </span>
    <br />
    <span style="float:left">Checkout Date</span>
    <span style="float:right">30/5/2018 </span>
    <br />
    <span style="float:left">Checkin Date</span>
    <span style="float:right">29/5/2018 </span>
    <br />
    <span style="float:left">Checkout Date</span>
    <span style="float:right">30/5/2018 </span>
    <br />
    <span style="float:left">Checkin Date</span>
    <span style="float:right">29/5/2018 </span>
    <br />
    <span style="float:left">Checkout Date</span>
    <span style="float:right">30/5/2018 </span>
    <br />
    <span style="float:left">Checkin Date</span>
    <span style="float:right">29/5/2018 </span>
    <br />
    <input type="button" class="btn" style="min-width:120px; height:auto; float:left" value="Update" />
    <input type="button" class="btn" style="min-width:120px; height:auto; float:right;" value="Delete" />

</div>

