
@{
    ViewBag.Title = "s21dashboard";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
}

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="fixed-col reset-b-brd">
                    <div>Date</div>
                </th>
                <th>
                    <div class="date">1.10.2019</div>
                    <div class="day">Mon</div>
                </th>
                <th class="today">
                    <div class="date">2.10.2019</div>
                    <div class="day">Tue</div>
                </th>
                <th>
                    <div class="date">2.10.2019</div>
                    <div class="day">Tue</div>
                </th>
                <th>
                    <div class="date">2.10.2019</div>
                    <div class="day">Tue</div>
                </th>
                <th>
                    <div class="date">2.10.2019</div>
                    <div class="day">Tue</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fixed-col">163</td>
                <td></td>
                <td class="booked current today">Smith</td>
                <td class="booked current">Smith</td>
                <td class="booked current">Smith</td>
                <td></td>
            </tr>
            <tr>
                <td class="fixed-col">25</td>
                <td class="booked past">Ann</td>
                <td class="booked past today">Ann</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="fixed-col">25</td>
                <td></td>
                <td class="today">Mary</td>
                <td class="booked future">Mary</td>
                <td class="booked future">Mary</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
