@using cityLife4;
@{
    ViewBag.Title = "s21horizontalDahsboard";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
    TranslateBox tBox = ViewBag.tBox;
    DateTime fromDate = ViewBag.fromDate;
    string fromDateSt = fromDate.ToString("dd MMMM, yyyy");
}
<style>
    .dash01 {
        position: absolute;
        top: 100px;
        left: 0px;
        height: 300px;
        width: 30px;
        border: 1px solid;
    }

    .dash01td {
        padding: 0px;
        border: 0px;
        text-align: center;
        height: 33px;
        width: 50px;
        overflow: hidden;
    }

    .dash02 {
        position: absolute;
        top: 100px;
        left: 30px;
        border: 1px solid;
        width: 360px;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .dash02th {
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        border: 1px solid #ddd;
        padding: 2px;
        width: 50px;
        height: 33px;
        overflow: hidden;
        text-align: center
    }

    .dash02td {
        border: 1px solid #ddd;
        padding: 2px;
        width: 50px;
        height: 33px;
        overflow: hidden;
        text-align: center
    }

    
</style>
<form id="fromDateForm" method="get" action="s21horizontalDashboard"> 
    <div class="field-box datepicker-box" style="width:250px">
        <input type="text" id="fromDate" name="fromDate" value="@fromDateSt" onchange="changeFromDate()">
        <label for="fromDate">
            <span class="field-name">@tBox.translate("from date")</span>
            <span class="calendar-ico"></span>
        </label>
        <span class="field-error"></span>
    </div>
</form>
@*This field is not needed. It is here for now because the JS in script.js (first function) assumes that both "fromDate and toDate exist.
    This needs to be cleanedd up. (it was coped from the public website)*@
<div class="field-box datepicker-box" style="display:none">
    <input type="text" id="toDate" name="toDate" value="" onchange="enableAvailabilityButton()">
    <label for="toDate">
        <span class="field-name">@tBox.translate("Check out date")</span>
        <span class="calendar-ico"></span>
    </label>
    <span class="field-error"></span>
</div>
<div class="dash01">
    <table>
        <tr><td class="dash01td">date</td></tr>
        <tr><td class="dash01td">day</td></tr>
        <tr><td class="dash01td">24</td></tr>
        <tr><td class="dash01td">14</td></tr>
        <tr><td class="dash01td">15</td></tr>
        <tr><td class="dash01td">16</td></tr>
        <tr><td class="dash01td">17</td></tr>
        <tr><td class="dash01td">18</td></tr>

    </table>
</div>
<div class="dash02">
    <table style="table-layout:fixed; width:100%">

        <tr>
            <th class="dash02th">1/10</th>
            <th class="dash02th">2/10</th>
            <th class="dash02th">3/10</th>
            <th class="dash02th">4/10</th>
            <th class="dash02th">5/10</th>
            <th class="dash02th">6/10</th>
            <th class="dash02th">7/10</th>
            <th class="dash02th">8/10</th>
            <th class="dash02th">9/10</th>
            <th class="dash02th">10/10</th>
            <th class="dash02th">11/10</th>
            <th class="dash02th">12/10</th>
            <th class="dash02th">13/10</th>
            <th class="dash02th">14/10</th>
            <th class="dash02th">15/10</th>
            <th class="dash02th">16/10</th>
            <th class="dash02th">17/10</th>
            <th class="dash02th">18/10</th>
            <th class="dash02th">19/10</th>
            <th class="dash02th">20/10</th>
            <th class="dash02th">21/10</th>
            <th class="dash02th">22/10</th>
            <th class="dash02th">23/10</th>
            <th class="dash02th">24/10</th>
            <th class="dash02th">25/10</th>
            <th class="dash02th">26/10</th>
            <th class="dash02th">27/10</th>
            <th class="dash02th">28/10</th>
            <th class="dash02th">29/10</th>
            <th class="dash02th">30/10</th>
        </tr>
        <tr>
            <th class="dash02th">sun</th>
            <th class="dash02th">mon</th>
            <th class="dash02th">tue</th>
            <th class="dash02th">wed</th>
            <th class="dash02th">thu</th>
            <th class="dash02th">fri</th>
            <th class="dash02th">sat</th>
            <th class="dash02th">sun</th>
            <th class="dash02th">mon</th>
            <th class="dash02th">tue</th>
            <th class="dash02th">wed</th>
            <th class="dash02th">thu</th>
            <th class="dash02th">fri</th>
            <th class="dash02th">sat</th>
            <th class="dash02th">sun</th>
            <th class="dash02th">mon</th>
            <th class="dash02th">tue</th>
            <th class="dash02th">wed</th>
            <th class="dash02th">thu</th>
            <th class="dash02th">fri</th>
            <th class="dash02th">sat</th>
            <th class="dash02th">sun</th>
            <th class="dash02th">mon</th>
            <th class="dash02th">tue</th>
            <th class="dash02th">wed</th>
            <th class="dash02th">thu</th>
            <th class="dash02th">fri</th>
            <th class="dash02th">sat</th>
            <th class="dash02th">sun</th>
            <th class="dash02th">mon</th>
        </tr>


        <tr>
            <td class="dash02td"></td>
            <td class="dash02td" style="overflow:hidden">atmonsonmonsonsGhilai</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>

        </tr>
        <tr>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
        </tr>
        <tr>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>

        </tr>
        <tr>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2" style="background-color:aqua">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4" style="background-color:aquamarine">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
        </tr>
        <tr>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td">smith</td>
            <td class="dash02td" colspan="3" style="text-align:center">johnson</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>

        </tr>
        <tr>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
            <td class="dash02td">Michael</td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td"></td>
            <td class="dash02td" colspan="2">Johnson</td>
            <td class="dash02td" colspan="4">Maria</td>
        </tr>

    </table>
    @*<div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>*@
</div>

<script>
    function changeFromDate() {
        $("#fromDateForm").submit();
    }
</script>



