@using cityLife4;
@using cityLife.Controllers;
@{
    ViewBag.Title = "s23addUpdateOrder";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
    Order theOrder = ViewBag.order;
}

<h2>s23addUpdateOrder</h2>
<h2>order:@theOrder.Id</h2>

