@using cityLife4;
@using cityLife.Controllers;
@{
    //The view is used for both adding new orders an updating existing orders.
    //New orders have an order record which contains only checkin, checkout, number of nights and apartment number.
    //The order id of a new order is 0.
    //Existing orders contain all data belonging to that order
    ViewBag.Title = "s23addUpdateOrder";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
    Order theOrder = ViewBag.order;
    TranslateBox tBox = ViewBag.tBox;

}


<style>
    .wizard{
        display:flex;
    }
    
    .nonActive {
        color: black;
        border-bottom: 1px solid #00C1E5;
    }
    .active {
        color: #00C1E5;
        border-bottom: 2px solid #00C1E5;
    }
    .wizard li {
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
   
</style>

<header>

    <ul class="wizard">
        <li id="liPersonal" class="active" onclick="activate('Personal')">@tBox.translate("Personal")</li>
        <li id="liBooking"  class="nonActive" onclick="activate('Booking')">@tBox.translate("Booking")</li>
        <li id="liOther"    class="nonActive" onclick="activate('Other')">@tBox.translate("Other")</li>
    </ul>
</header>
<form method="post" action="/staff/s25addUpdateOrder">
    <div id="divPersonal" style="max-width:500px;margin:10px;">
        @Html.Partial("s24orderPersonal")
    </div>
    <div id="divBooking" style="display:none">
        booking
    </div>
    <div id="divOther" style="display:none">
        other
    </div>
</form>

<script>
    var a = 0;
    a++;
    function activate(screen) {
        $("#divPersonal").hide();
        $("#divBooking").hide();
        $("#divOther").hide();
        $("#div" + screen).show();

        $(".wizard li").removeClass("active").addClass("nonActive");
        $("#li" + screen).addClass("active");
    }
</script>










