@using cityLife4;
@using cityLife.Controllers;
@using System.Data.Entity;
@model  IEnumerable<Expense>

@{ var expenseList = Model;
<table style="max-width:500px;">
    <thead>
        <tr>
            <th>type</th>
            <th>amount</th>
            <th>desc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var anExpense in expenseList)
        {
        <tr onclick="updateExpense(@anExpense.Id)">
            <td>@anExpense.ExpenseType.nameKey</td>
            <td style="text-align:right">@anExpense.expenseAsMoney().toMoneyString()</td>
            <td>@anExpense.description</td>
        </tr>
        }
    </tbody>
</table>

}
<input type="button" class="btn small-button" value="Add Expense" onclick="addExpense()" />
<!--we want to show the expense form - call the "expense clicked
           function with 0 in second parameter - that will display
           the expense form. tdExp is a variable in s21dashboard-->
