
@{
    ViewBag.Title = "p25apartmentDetails";
    Layout = "~/Views/sharing/_cityLifeLayout.cshtml";
}

<div class="wrapper">
    <div class="slider slider-nav hidden-on-mobile">
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 1</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 2</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 3</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 4</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 5</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 6</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 7</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="slider slider-for hidden-on-mobile">
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 1</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 2</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 3</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 4</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 5</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 6</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 7</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="hidden-on-mobile">
            <h4>Apartment 1</h4>
            <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
            <div class="price">$150/night</div>
        </div>
        <ul class="dscr-list">
            <li>Telephone</li>
            <li>Air conditioning</li>
            <li>Balcony</li>
            <li>Refrigerator</li>
            <li>Seating Area</li>
            <li>Toilet</li>
            <li>Microwave</li>
            <li>Washing Machine</li>
            <li>Private bathroom</li>
            <li>Heating</li>
            <li>Kitchen</li>
            <li>Hardwood/Parquet floors</li>
            <li>Dining area</li>
            <li>Electric kettle</li>
            <li>Kitchenware</li>
            <li>Towels</li>
            <li>Linen</li>
            <li>Free WiFi!</li>
        </ul>
        <a href="#" class="btn">Book now</a>
        <p class="note blue">No credit card needed you can cancel any time</p>
        <div class="description">
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
            <p>Free Wi-Fi and a fully equipped kitchen with dining  area are offered at these air-conditioned apartments. City Life Apartments are situated in various locations in the centre of Kharkov.</p>
        </div>
    </div>
</div>
