

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/sharing/_cityLifeLayout.cshtml";
}

<div class="wrapper">
    <div class="slider slider-nav hidden-on-mobile">
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 1</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 2</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 3</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 4</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 5</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 6</h4>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr">
                    <h4>Apartment 7</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="slider slider-for hidden-on-mobile">
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 1</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 2</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 3</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 4</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 5</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/2.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/2.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 6</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
        <div>
            <div class="slide">
                <a href="#" class="icon-btn location"></a>
                <a href="images/1.jpg" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                <div class="image" style="background-image: url('images/1.jpg');"></div>
                <div class="slide-dscr visible-on-mobile">
                    <h4 class="light">Apartment 7</h4>
                    <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
                    <div class="price light">$150/night</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar booking-form">
        <div class="helper">
            <h4>Apartment 1</h4>
            <h2 class="underlined"><a href="#">Poltavski Shlach, 19</a></h2>
            <div class="form">
                <form>
                    <div class="field-box error">
                        <input type="text" id="name">
                        <label for="name">
                            <span class="field-name">Name</span>
                        </label>
                        <span class="field-error">there can be some error text</span>
                    </div>
                    <div class="field-box select-box">
                        <select>
                            <option>United Kingdom</option>
                            <option>United </option>
                            <option>Unffdfdfdf</option>
                            <option>USA</option>
                        </select>
                        <label>
                            <span class="field-name">Country</span>
                        </label>
                        <span class="field-error"></span>
                    </div>
                    <div class="field-box">
                        <input type="email" id="email">
                        <label for="email">
                            <span class="field-name">Email</span>
                        </label>
                        <span class="field-error"></span>
                    </div>
                    <div class="field-box">
                        <input type="tel" id="phone">
                        <label for="phone">
                            <span class="field-name">Phone</span>
                        </label>
                        <span class="field-error"></span>
                    </div>
                    <div class="field-box">
                        <input type="text" id="arrival">
                        <label for="arrival">
                            <span class="field-name">expected arrival time</span>
                        </label>
                        <span class="field-error"></span>
                    </div>
                    <div class="field-box">
                        <textarea id="message"></textarea>
                        <label for="message">
                            <span class="field-name">special request</span>
                        </label>
                        <span class="field-error"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="helper">
            <div class="total-sum">
                Total:
                <span>$600</span>
            </div>
            <input type="submit" class="btn" value="Book now">
        </div>
    </div>
</div>


