
@{
    Layout = "~/Views/sharing/_cityLifeLayout.cshtml";
}
<div class="wrapper rules">
    <div class="col has-bg">
        <h4>Rules for the use of property</h4>
        <h2>Rules for Staying in a Flat</h2>
        <h4 class="blue">General provisions</h4>
        <ul class="counter-list">
            <li>
                These rules set the internal rules of
                accommodation in
                <strong>KharkovApartmentsCitylife</strong>
                (hereinafter referred as the <strong class="blue">Citylife</strong>) for
                the guests, rules for the use of property
                of <strong class="blue">Citylife</strong>, volume of provided services,
                responsibility of the parties.
            </li>
            <li>
                <strong class="blue">Citylife</strong> rooms are located in a residential block 
                of flats (hereinafter referred as House).
            </li>
            <li>
                The staff is on the ground floor,
                apartment 2
                Telephone numbers of service personnel
                <div class="phone"><a href="tel:38(096)123 45 67" class="number">38(098)77 101 49</a></div>
            </li>
        </ul>
    </div>
    <div class="col has-main-txt">
        <h4 class="blue">Property of Citylife</h4>
        <ul class="counter-list">
            <li>
                <strong class="blue">Citylife</strong> provides furnished rooms,
                equipped in accordance with the provided
                information, household appliances,
                plumbing and other equipment. <strong class="blue">Citylife</strong>
                rooms are heat-insulated, have modern
                interior, furniture, equipment.
            </li>
            <li>
                Guests should handle the property of
                <strong>KharkovApartmentsCitylife</strong> carefully, use
                the equipment for its intended purpose,
                and keep the fire safety rules. 
                In case of
                damaging property, technical malfunctions,
                emergencies (flooding, fire, broken glass,
                etc.) you must immediately inform the
                administrator by phone:
                <div class="phone"><a href="tel:38(096)123 45 67" class="number">38(096)166 12 93</a></div>
                <div class="phone"><a href="tel:38(096)123 45 67" class="number">38(098)77 101 49</a> on-duty maid</div>
            </li>
        </ul>

        <h4 class="blue">Internal rules of accommodation in Citylife</h4>
        <ul class="counter-list">
            <li>
                Keeping the internal order in the apartment is monitored by the maid. She
                explains the rules of residence to the
                guests, accepts complaints about violation
                of the established procedure of work in
                <strong class="blue">Citylife</strong> from guests and residents of the
                House.
            </li>
            <li>
                It is forbidden to give the room key to
                persons who do not live in the apartment.
            </li>
            <li>
                The rooms of <strong class="blue">Citylife</strong> as well as in
                the corridors and stairwells of the House
                are prohibited from smoking. The fine for
                the smoking in an unauthorized place is
                imposed in accordance with the accepted
                municipal tariff. In case of a second
                occurrence of smoking in the above places
                the <strong class="blue">Citylife</strong> administration has the right to
                evict the guest.
            </li>
            <li>
                It is necessary to keep silence from
                21-00 to 9-00 o’clock in the <strong class="blue">Citylife</strong>
                apartment and on the territory of the
                House.
            </li>
            <li>
                Guests of <strong class="blue">Citylife</strong> can be visited at
                any time. The arrival of the visitors does
                not require the consent of the maid.The
                guest of the room is responsible for the
                visitor. Visitor does not have the right to
                stay in the room without the consent of the
                administrator.
            </li>
            <li>
                Any animals in the apartment are
                allowed only after consultation with the
                administrator.
            </li>
            <li>
                It is forbidden to use tees and
                extension cords, powerful electrical
                appliances, including heating appliances,
                except when these devices are part of the
                standard room equipment or issued for the
                use by the maid.
            </li>
            <li>
                It is inadmissible to leave cold and
                hot water taps unnecessarily open. Do not
                leave these faucets open after leaving the
                room.
            </li>
            <li>
                The number of guests entitled to stay
                in the room is agreed beforehand while
                booking. Accommodation of other guests is
                possible only after agreement with the
                administrator and for an additional fee, in
                accordance with the price specified at the
                time of booking. In case of refusal of guests to agree the accommodation of
                additional guests the administrator can
                evict all guests, without refund.
            </li>
        </ul>

        <h4 class="blue">Services provided by KharkovApartmentsCitylife</h4>
        <ul class="counter-list">
            <li>
                <strong class="blue">Citylife</strong> provides basic services that
                are included in the price for
                accommodation.
            </li>
            <li>
                The basic services depending on the
                level of the <strong class="blue">Citylife</strong> apartments include the
                provision of well-equipped rooms for
                accommodation, cleaning of rooms before
                settling guests (daily), providing a
                communication package (television,
                Internet), information booklet, small
                appliances and equipment (kettle, iron,
                ironing board), according to the number of
                guests (in accordance with the class of
                apartments) - dishes, cutlery, bed linen,
                towels, slippers, personal hygiene items.
            </li>
            <li>
                Additional services include any other
                services specified in the information
                booklet according to the tariffs applicable to
                them or other services that are provided to
                the guests upon request after the
                agreement with the administrator, for a fee
                set by the administrator.
            </li>
            <li>
                Bed linen and towels are changed
                every 4 days. At the request of the guests,
                for an additional payment, an extraordinary
                change of linen and towels can be made.
            </li>
            <li>
                In case the guest leaves <strong class="blue">Citylife</strong>
                before the check-out date indicated in the
                guest’s questionnaire the guest will not be
                refunded for settling in. The check-out date
                is additionally confirmed by the guest upon
                arrival. Return of funds in case of force
                majeure situation is considered individually.
            </li>
            <li>
                The fee for accommodation in
                <strong class="blue">Citylife</strong> and additional services is charged
                according to the price list indicated when
                booking or in agreement with the
                administrator.
            </li>
            <li>
                If the guest repeatedly breaks the
                internal rules of living in <strong class="blue">Citylife</strong> which
                leads to material losses or creates inconveniences for residents of the House,
                <strong class="blue">Citylife</strong> has the right to effect eviction.
            </li>
        </ul>

        <h4 class="blue">Responsibility of Citylife and visitors</h4>
        <ul class="counter-list">
            <li>
                <strong class="blue">Citylife</strong> should take action to
                eliminate the shortcomings of the provided
                service within 24 hours from the moment
                the guest submits a corresponding claim.
            </li>
            <li>
                <strong class="blue">Citylife</strong> is not responsible for the
                shortcomings in the provided services if it
                proves that they have arisen due to the fault of the guest (visitor) or as a result of
                force majeure.
            </li>
            <li>
                <strong class="blue">Citylife</strong> are not responsible for the
                safety of the guest’s belongings in the room
                provided.
            </li>
            <li>
                In case of revealing forgotten things
                <strong class="blue">Citylife</strong> is obliged to notify immediately the
                owner of things about it, if he is known. The
                forgotten things are kept by the <strong class="blue">Citylife</strong>
                administrator for 1 month, after that they
                are transferred to the appropriate public
                authorities or destroyed, which is described
                in the act of the established form.
            </li>
            <li>
                When causing significant material
                damage to <strong class="blue">Citylife</strong> due to fault or
                negligence of the guests and (or) their
                visitors, an act of the established pattern
                must be compulsorily compiled. In this
                case, in addition to compensation for
                damages, the guest must voluntarily or in
                court order compensate <strong class="blue">Citylife</strong> for losses
                related to the idling of the room during
                repairs, replacement of furniture, and other
                cases (for example, in case of flooding).
            </li>
            <li>
                When causing damage to material property <strong class="blue">Citylife</strong> <strong>visitors
                are obliged to pay the damage in accordance with the price list 
                of “Damage to property”.</strong>
            </li>
        </ul>

        <h2 class="thanks-note">
            Sincerely,
            KharkovApartmentsCitylife
        </h2>
    </div>
</div>
