@import "variables";
@import "_extend.scss";
@import "_icons.scss";



.slider {
  .slide {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    }
  }

  .image {
    height: 100%;
    width: 100%;
    background: {
      repeat: no-repeat;
      size: cover;
    };
  }

  img {
    width: 100%;
  }

  .slide-dscr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 55px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  h2 {
    line-height: 1.3;
    color: $white;
    margin-bottom: 50px;
  }

  h4 {
    line-height: 1.2;
  }

  .col {
    position: relative;
    max-width: 70%;
  }

  //main slider on home page
  &.main-slider {
    height: 70vh;  //660px;

    .slide {
      height: 70vh;  //660px;
    }
  }

  //slider with nav
  &.slider-nav {
    width: 165px;
    height: 100vh;
    min-height: 900px;
    overflow: hidden;
    h4 {
      color: $white;
    }
    .slick-slide,
    .slide {
      height: calc(100vh / 6);
      min-height: 145px;
    }
    .slick-slide {
      margin: 5px 10px;
    }
    .slick-current {
      box-shadow: 0 0 0 10px $blue-light;
    }
    .slide-dscr {
      padding: 10px;
    }
  }

  &.slider-for {
    position: relative;
    width: calc(100% - 545px - 165px);
    height: 100vh;
    min-height: 900px;
    .slide {
      height: 100vh;
      min-height: 900px;
    }
    .icon-btn {
      position: absolute;
      top: 60px;
      z-index: 2;
      &.location {
        left: 35px;
      }
      &.resize {
        right: 35px;
      }
    }
  }
}

.slick-slider {
  line-height: 1;
}

.slick-dots {
  min-width: 285px;
  @extend .horiz-align ;
  top: 60px;

  li {
    display: inline-block;
    font-size: 0;
    margin: 0 5px;
    &.slick-active {
      button {
        background: $white;
      }
    }
  }
  button {
    height: 4px;
    width: 30px;
    padding: 0;
    font-size: 0;
    color: transparent;
    border: none;
    background: $white-transp;
    cursor: pointer;
  }
}

.slick-arrow {
    color: transparent;
    border: none;
    background: transparent;
    font-size: 0;
    padding: 0;
    @extend .vert-align ;
    cursor: pointer;
    z-index: 1;

    &:before {
        font-family: 'clife-icons';
        font-size: 2.813rem; //45px
        color: $white;
        transition: color 0.2s;
    }

    &.slick-prev {
        left: 30px;

        &:before {
            @extend .clife-ico-arrow-thin-l ;
        }
    }

    &.slick-next {
        right: 30px;

        &:before {
            @extend .clife-ico-arrow-thin-r ;
        }
    }

    &:hover {
        &:before {
            color: $blue-hover;
        }
    }
}

//.fancybox-button.fancybox-button--arrow_left {
//  color: transparent;
//  border: none;
//  background: transparent;
//  font-size: 0;
//  padding: 0;
//  @extend .vert-align;
//  cursor: pointer;
//  &:before {
//    font-family: 'clife-icons';
//    font-size: 2.813rem;  //45px
//    color: $white;
//  }
//}




@media screen and ($tablet-min) and ($desktop-medium) {
  .slider {
    .slide-dscr {
      padding: 30px 50px;
    }

    h2 {
      margin-bottom: 30px;
    }

    &.main-slider {
      height: 65vh;

      .slide {
        height: 65vh;
      }
    }

    &.slider-nav {
      width: 130px;
      min-height: 680px;
      .slick-slide,
      .slide {
        min-height: 110px;
      }
    }

    &.slider-for {
      width: calc(100% - 400px - 130px);
      min-height: 680px;
      .slide {
        min-height: 680px;
      }
      .icon-btn {
        top: 25px;
      }
    }
  }
}




@media screen and ($laptop) {
  .slider {
    &.slider-nav {
      order: 2;
      width: 100%;
      height: 140px;
      min-height: auto;

      .slick-slide {
        height: 120px;
        margin: 10px 5px;
      }
      .slide {
        min-height: auto;
        height: 120px;
      }
    }
    &.slider-for {
      order: 1;
      width: 100%;
      height: 500px;
      min-height: auto;
      .slide {
        height: 500px;
        min-height: auto;
      }
    }
  }
}



@media screen and ($tablet) {
  .slider {
    .col {
      max-width: 100%;
    }

    .slide-dscr {
      flex-direction: column;
      justify-content: space-between;
      padding: 100px 30px 30px;
    }

    &.slider-for {
      .icon-btn {
        top: auto;
        bottom: 30px;
      }
    }
  }
  .slick-dots {
    top: 20px;
  }
}



@media screen and ($mobile) {
  .slider {
    .slide-dscr {
      padding: 90px 15px 0;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 25px;
      &.underlined {
        margin-bottom: 5px;
      }
    }

    &.main-slider {
      height: 100vh;

      .slide {
        height: 100vh;
      }
    }

    &.slider-for {
      height: 100vh;

      .slide {
        height: 100vh;
      }
    }

    &.slider-nav {
      height: 110px;
      border-bottom: 1px solid $grey;

      h4 {
        font-size: 10px;
      }
      .slick-slide {
        height: 90px;
        min-height: auto;
      }
      .slide {
        height: 90px;
      }
    }
  }

  .slick-dots {
    top: 50px;
  }
}